flows.json
[
    {
        "id": "d91ac3d282c069d0",
        "type": "tab",
        "label": "DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1b1f2bdd5b2d11d",
        "type": "tab",
        "label": "CAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87fe75fba6b00d60",
        "type": "tab",
        "label": "LOCALIZACIÓN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93c938d261dc36e3",
        "type": "tab",
        "label": "DESCARGA USB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4fbb3fe0699c65f",
        "type": "tab",
        "label": "ESTADO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac1b7f858f654d07",
        "type": "tab",
        "label": "CONNECTIVITY & MONITORING",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e6cdd9658d4b98d",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Envio por MQTT",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4b44abe7284d3925",
            "3b0fb10da4893963",
            "dbb0818b6ec8428d",
            "129a57a1dde77825",
            "10fe9b1f0057fb10",
            "ce80aa21413d62c3",
            "d825a23051422fb4",
            "1d325151593e5d32",
            "2106c9058afc494e",
            "ab7d8e0de922c171"
        ],
        "x": 54,
        "y": 139,
        "w": 652,
        "h": 242
    },
    {
        "id": "6b7c1f4fbbe77c84",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Guardado de data local",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "121f11e8ca291a0e",
            "c4c0299bf7185dbc",
            "bcd67702c395a8fb",
            "40658d607094abce",
            "838733237fd1d982",
            "80cc8c7dae71c897"
        ],
        "x": 74,
        "y": 939,
        "w": 712,
        "h": 122
    },
    {
        "id": "65c598bb5234d69b",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Guardado de data offline",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1b58f9fcea6b249f",
            "e9eeb5845b5972aa",
            "f33d6f0f0f55c8c7",
            "83165532a02208c5",
            "c92224eb190a3a85",
            "5c1f0d9723125c37",
            "c2403b842567b383"
        ],
        "x": 64,
        "y": 399,
        "w": 742,
        "h": 182
    },
    {
        "id": "a5bc3a1930f09c8f",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Recuperar y enviar la data adquirida offline",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "89c8205089453bdc",
            "f744467ba4084a45",
            "4d989b9847ec219b",
            "a92b564f771f2512",
            "45c703090ffad7f3",
            "f8c2dbe5933535aa",
            "7848935da681379d",
            "9a6f168a3cfe9e6c",
            "de31a22e8417c259",
            "901a8dc39713bf21",
            "124808048f0bda31"
        ],
        "x": 64,
        "y": 619,
        "w": 1162,
        "h": 262
    },
    {
        "id": "1a0d550707f8cc4f",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Eliminar data local anterior a 70 días",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3e80e2e1aef47e06",
            "58836c8d2ead4daa",
            "60716de1fbc60246",
            "7f4121ee2de54254",
            "75f7fd59086311fd"
        ],
        "x": 74,
        "y": 1159,
        "w": 832,
        "h": 142
    },
    {
        "id": "39ddbe85a72ee0b3",
        "type": "group",
        "z": "ac1b7f858f654d07",
        "name": "Check server connection",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "36974351050e81e2",
            "dbaf8b3efeaabf37",
            "969b2948e1ba5ece",
            "ee185204f3df637f",
            "30361390301119e6",
            "369a679a146cb309",
            "48fe66a37a5d4455",
            "47371280d37afc93"
        ],
        "x": 74,
        "y": 79,
        "w": 1212,
        "h": 242
    },
    {
        "id": "b7f9bad1da3f666b",
        "type": "group",
        "z": "ac1b7f858f654d07",
        "name": "Check server connection",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "24694e9174f9ea7c",
            "f884311d2c1d9673",
            "a25ce97d8a1e53e6",
            "b64c3a8d66676f32",
            "594f458e05d10cbd",
            "0108dea861a38364",
            "227c7884566505e1"
        ],
        "x": 54,
        "y": 359,
        "w": 1072,
        "h": 182
    },
    {
        "id": "f2e2e6faa602b3b4",
        "type": "group",
        "z": "d91ac3d282c069d0",
        "name": "Guardar data local a CSV more efficient",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1fe246825016b224",
            "2808688270ae7e19",
            "75d640b92c14bf05",
            "1696a641113f4ebb",
            "e6ea489a3988f9d3",
            "de212ed652df9d16",
            "5988850cd948728c",
            "f7123ee93d205da4",
            "d7e5425487244021",
            "73f0360cf3cf9070",
            "863f91b1290010b4",
            "c75c61cf2dd42916"
        ],
        "x": 74,
        "y": 1359,
        "w": 1592,
        "h": 342
    },
    {
        "id": "f9b436a0d5058759",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "824212e991030bd3",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB2",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "515c14fc0cf0ef72",
        "type": "mqtt-broker",
        "name": "AXOTEC_NODERED_AWS",
        "broker": "ad7qeb8wwrcru-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "f422ad7bf117f4e2",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f422ad7bf117f4e2",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Axotec_Iolink_certificate.pem.crt",
        "keyname": "Axotec_Iolink_private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "c9d7958c51e4e5e5",
        "type": "mqtt-broker",
        "name": "AXOTEC_NODERED_AWS",
        "broker": "a1ilowd5tdj7z5-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "8c358adf10510f18",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8c358adf10510f18",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Axotec_Iolink_certificate.pem.crt",
        "keyname": "Axotec_Iolink_private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "cadfe5f9098ccb3f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#1800cc",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ffffff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1800cc",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#341aff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#1800cc",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f94f094b8e7f6375",
        "type": "ui_tab",
        "name": "DASHBOARD",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "032397717af04123",
        "type": "ui_tab",
        "name": "REPORTES",
        "icon": "assignment",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c8408a01afeb8c2c",
        "type": "ui_group",
        "name": "DATES",
        "tab": "032397717af04123",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1957a7591f8fcc42",
        "type": "ui_group",
        "name": "GENERATE",
        "tab": "032397717af04123",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fc2b65e53556a24",
        "type": "ui_group",
        "name": "INDICADORES  DE TEMPERATURA",
        "tab": "f94f094b8e7f6375",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f86d2af7bfb0a80",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.0.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1a76b26279ce84b7",
        "type": "ui_group",
        "name": "MONITOREO DE TEMPERATURA",
        "tab": "f94f094b8e7f6375",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11203f38442d941e",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "f94f094b8e7f6375",
        "order": 3,
        "disp": false,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e874a31de43325e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Axotec_Iolink_certificate.pem.crt",
        "keyname": "Axotec_Iolink_private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "8b9f70c9cc40b153",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.0.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a75daacf98378e1a",
        "type": "canconfig",
        "channel": "can1",
        "bitrate": "250000"
    },
    {
        "id": "73a93f72.2489",
        "type": "canconfig",
        "channel": "vcan0",
        "bitrate": "100000"
    },
    {
        "id": "a88290baf1cbcd69",
        "type": "ui_group",
        "name": "LOGO",
        "tab": "4e6a66b195f75a34",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e6a66b195f75a34",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e07873d84a07c9a0",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "8d53d2f17df7fbc4",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "31ef39d1361bb7bf",
        "type": "ui_tab",
        "name": "NIVEL DE COMBUSTIBLE",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "848ca0824ac28ea6",
        "type": "ui_tab",
        "name": "LOCALIZACIÓN",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fc6a61d34a96edc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a8c87c555736cd17",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d32dcd8762fba309",
        "type": "mqtt-broker",
        "name": "tb_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a8c87c555736cd17",
        "type": "ui_tab",
        "name": "REAL TIME",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62e6ab43ca64c949",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "848ca0824ac28ea6",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "43af4eb6844c1186",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "65cc5495b58b4067",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ec2cda284415d75",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "612b4ae383117a9b",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5a35b106ef36451",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "9dee49f6e29bff6a",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "33a67764afd42d3d",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "dfa4fcc6edf72cc8",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "9266ba9c48d50940",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "0c25459e2b16fea6",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "3875b5dbd8e51d7b",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "b180b312f59116c3",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "8f5bd6fd07b079b2",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "800b5e1cea7ab9fc",
        "type": "ui_spacer",
        "z": "87fe75fba6b00d60",
        "name": "spacer",
        "group": "62e6ab43ca64c949",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "9d10d20ccd17d311",
        "type": "mqtt-broker",
        "name": "local_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9813500403385149",
        "type": "mqtt-broker",
        "name": "cloud_broker",
        "broker": "161.132.39.167",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eac68af941f0e99a",
        "type": "ui_group",
        "name": "COMPONENTES:",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": 32,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1027983a934d3b58",
        "type": "ui_group",
        "name": "CAMION:",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e965034995eb5b63",
        "type": "ui_group",
        "name": "UBICACION DE EQUIPOS:",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "019fb26dbee13daa",
        "type": "ui_group",
        "name": "RUEDA DELANTERA RH",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7b2c36d8ee90042",
        "type": "ui_group",
        "name": "RUEDA DELANTERA LH",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8750519141000b0",
        "type": "ui_group",
        "name": "MOTOR TRACCION RH",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26edc0b4b10fad37",
        "type": "ui_group",
        "name": "MOTOR TRACCION LH",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29322da1af7ea3ba",
        "type": "ui_group",
        "name": "ALTERNADOR PRINCIPAL",
        "tab": "",
        "order": 8,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eadfda525a15b034",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "45598baf2af77f76",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d4c91e04aba283b0",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "a5c3e22a254f5be0"
            ]
        ]
    },
    {
        "id": "a5c3e22a254f5be0",
        "type": "change",
        "z": "d91ac3d282c069d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"AXO001\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"-\",\"ping_acme\":\"-\",\"total_space\":0,\"used_space\":0,\"used_space_percent\":0,\"free_space\":0,\"num_gps_sat\":0,\"memory_usage_percent\":0,\"temperature\":0},\"gps\":{\"latitude\":0,\"longitude\":0,\"altitude\":0,\"speed\":0,\"accuracy\":0,\"num_sat\":0},\"jd2120\":{\"angle\":0},\"sensor_estado\":{\"state\":\"init\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            [
                "a25e103160a7edec"
            ]
        ]
    },
    {
        "id": "a25e103160a7edec",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "f744467ba4084a45",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "obtener primer dato",
        "func": "msg.topic = \"SELECT data FROM offline_data LIMIT 1;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 720,
        "wires": [
            [
                "89c8205089453bdc"
            ]
        ]
    },
    {
        "id": "4d989b9847ec219b",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 780,
        "wires": []
    },
    {
        "id": "121f11e8ca291a0e",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "name": "function 103",
        "func": "\nmsg.topic = \"INSERT INTO `local_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "c4c0299bf7185dbc",
                "838733237fd1d982"
            ]
        ]
    },
    {
        "id": "838733237fd1d982",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "bcd67702c395a8fb",
        "type": "json",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "121f11e8ca291a0e"
            ]
        ]
    },
    {
        "id": "1b58f9fcea6b249f",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "function 103",
        "func": "\nmsg.topic = \"INSERT INTO `offline_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "e9eeb5845b5972aa",
                "83165532a02208c5"
            ]
        ]
    },
    {
        "id": "f33d6f0f0f55c8c7",
        "type": "json",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "1b58f9fcea6b249f"
            ]
        ]
    },
    {
        "id": "83165532a02208c5",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "a92b564f771f2512",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "Procesar para mqtt",
        "func": "var array_in = msg.payload;\nvar data_out = [];\n\n\n\nif (msg.payload[0] == undefined){\n    node.status({ fill: \"green\", shape: \"ring\", text: \"empty data\" });\n    return null;    \n}\n\nelse {\n    data_out = JSON.parse(msg.payload[0].data);\n    \n    node.status({ fill: \"green\", shape: \"dot\", text: \"sending offline\" });\n\n    msg.payload = data_out;\n\n    return msg;\n\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "f8c2dbe5933535aa",
                "7848935da681379d",
                "4d989b9847ec219b",
                "9a6f168a3cfe9e6c"
            ]
        ]
    },
    {
        "id": "45c703090ffad7f3",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "f8c2dbe5933535aa",
        "type": "mqtt out",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "topic": "data/offline/puente_grua",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "7848935da681379d",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "9a6f168a3cfe9e6c",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "Eliminar primer dato",
        "func": "\n// elimina el primer dato\nmsg.topic = \"DELETE FROM offline_data LIMIT 1;\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 840,
        "wires": [
            [
                "de31a22e8417c259"
            ]
        ]
    },
    {
        "id": "3e80e2e1aef47e06",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "1a0d550707f8cc4f",
        "name": "",
        "func": "msg.topic = \"DELETE FROM local_data WHERE date < DATE_SUB(CURDATE(), INTERVAL 70 DAY);\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "58836c8d2ead4daa"
            ]
        ]
    },
    {
        "id": "60716de1fbc60246",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "g": "1a0d550707f8cc4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "59 23 * * 5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1200,
        "wires": [
            [
                "3e80e2e1aef47e06"
            ]
        ]
    },
    {
        "id": "7f4121ee2de54254",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "1a0d550707f8cc4f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1200,
        "wires": []
    },
    {
        "id": "80cc8c7dae71c897",
        "type": "link in",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "name": "",
        "links": [
            "6a0d6344d5559850",
            "1d325151593e5d32"
        ],
        "x": 115,
        "y": 1020,
        "wires": [
            [
                "40658d607094abce"
            ]
        ]
    },
    {
        "id": "c92224eb190a3a85",
        "type": "link in",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "",
        "links": [
            "6a0d6344d5559850",
            "1d325151593e5d32"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "5c1f0d9723125c37"
            ]
        ]
    },
    {
        "id": "5c1f0d9723125c37",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "",
        "func": "var connections = global.get('connections');\n\nvar msg2 = {}\n\nmsg.payload = msg.payload;\nif (connections.acme_server == false){\n    // Not connected\n    node.status({ fill: \"green\", shape: \"ring\", text: \"disconnected - saving\" });\n    return [msg, null];\n}\nelse{\n    // Connected\n    node.status({ fill: \"green\", shape: \"dot\", text: \"connected - no save\" });\n\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 480,
        "wires": [
            [
                "f33d6f0f0f55c8c7"
            ],
            [
                "c2403b842567b383"
            ]
        ]
    },
    {
        "id": "75f7fd59086311fd",
        "type": "comment",
        "z": "d91ac3d282c069d0",
        "g": "1a0d550707f8cc4f",
        "name": "La data se elimina cada viernes",
        "info": "",
        "x": 230,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c2403b842567b383",
        "type": "link out",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "name": "connected",
        "mode": "link",
        "links": [
            "901a8dc39713bf21"
        ],
        "x": 335,
        "y": 540,
        "wires": []
    },
    {
        "id": "901a8dc39713bf21",
        "type": "link in",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "links": [
            "c2403b842567b383"
        ],
        "x": 105,
        "y": 720,
        "wires": [
            [
                "f744467ba4084a45"
            ]
        ]
    },
    {
        "id": "124808048f0bda31",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 840,
        "wires": []
    },
    {
        "id": "40658d607094abce",
        "type": "flat",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "name": "",
        "x": 230,
        "y": 1020,
        "wires": [
            [
                "bcd67702c395a8fb"
            ]
        ]
    },
    {
        "id": "89c8205089453bdc",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "a92b564f771f2512",
                "45c703090ffad7f3"
            ]
        ]
    },
    {
        "id": "c4c0299bf7185dbc",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "6b7c1f4fbbe77c84",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e9eeb5845b5972aa",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "65c598bb5234d69b",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "de31a22e8417c259",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "a5bc3a1930f09c8f",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 900,
        "y": 840,
        "wires": [
            [
                "124808048f0bda31"
            ]
        ]
    },
    {
        "id": "58836c8d2ead4daa",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "1a0d550707f8cc4f",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 560,
        "y": 1200,
        "wires": [
            [
                "7f4121ee2de54254"
            ]
        ]
    },
    {
        "id": "1fe246825016b224",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "func": "\nmsg.topic = \"SELECT data FROM local_data\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1420,
        "wires": [
            [
                "2808688270ae7e19"
            ]
        ]
    },
    {
        "id": "2808688270ae7e19",
        "type": "mysql",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "mydb": "45598baf2af77f76",
        "name": "",
        "x": 520,
        "y": 1420,
        "wires": [
            [
                "1696a641113f4ebb",
                "e6ea489a3988f9d3"
            ]
        ]
    },
    {
        "id": "75d640b92c14bf05",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1696a641113f4ebb",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "Procesar array para csv",
        "func": "var array_in = msg.payload;\nvar array_out = [];\n\nfor (var i = 0; i < array_in.length; i++) {\n    array_out[i] = JSON.parse(msg.payload[i].data);\n\n    // Converting simple timestamp to human readable\n    // time\n    array_out[i].timestamp = unixTimestampToHumanReadable(array_out[i].timestamp);\n}\n\nmsg.payload = array_out;\n\nmsg.columns = Object.keys(msg.payload[0]).toString();\n\n\nreturn msg;\n\n\n\n// Function for timestamp to readable time\nfunction unixTimestampToHumanReadable(unixTimestamp) {\n    const date = new Date(unixTimestamp);\n    const year = date.getFullYear();\n    const month = (date.getMonth() + 1).toString().padStart(2, '0');\n    const day = date.getDate().toString().padStart(2, '0');\n    const hours = date.getHours().toString().padStart(2, '0');\n    const minutes = date.getMinutes().toString().padStart(2, '0');\n    const seconds = date.getSeconds().toString().padStart(2, '0');\n\n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1400,
        "wires": [
            [
                "75d640b92c14bf05",
                "f7123ee93d205da4"
            ]
        ]
    },
    {
        "id": "e6ea489a3988f9d3",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "de212ed652df9d16",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1560,
        "wires": []
    },
    {
        "id": "5988850cd948728c",
        "type": "file",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "filename": "/root/ITEMAQ/ANGULAMIENTO/data_angulamiento.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1350,
        "y": 1400,
        "wires": [
            [
                "c75c61cf2dd42916"
            ]
        ]
    },
    {
        "id": "f7123ee93d205da4",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "csv",
        "func": "function arrayToCSV(data) {\n    // Verificar si el array de datos está vacío\n    if (data.length === 0) {\n        return '';\n    }\n\n    // Obtener las claves del primer objeto JSON para los encabezados de columna\n    const keys = Object.keys(data[0]);\n\n    // Construir los encabezados de columna\n    const headerRow = keys.join(',');\n\n    // Construir filas del CSV\n    const csvRows = [];\n    csvRows.push(headerRow);\n\n    for (const obj of data) {\n        const values = keys.map(key => obj[key]);\n        const csvRow = values.join(',');\n        csvRows.push(csvRow);\n    }\n\n    // Unir todas las filas con saltos de línea\n    return csvRows.join('\\n');\n}\n// Convertir el array de objetos JSON a una cadena CSV\nconst csvString = arrayToCSV(msg.payload);\nmsg.payload = csvString;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1400,
        "wires": [
            [
                "d7e5425487244021",
                "5988850cd948728c"
            ]
        ]
    },
    {
        "id": "d7e5425487244021",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1660,
        "wires": []
    },
    {
        "id": "73f0360cf3cf9070",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1480,
        "wires": [
            [
                "1fe246825016b224"
            ]
        ]
    },
    {
        "id": "863f91b1290010b4",
        "type": "link in",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "links": [
            "24491a42e5626d87"
        ],
        "x": 205,
        "y": 1420,
        "wires": [
            [
                "1fe246825016b224"
            ]
        ]
    },
    {
        "id": "c75c61cf2dd42916",
        "type": "link out",
        "z": "d91ac3d282c069d0",
        "g": "f2e2e6faa602b3b4",
        "name": "",
        "mode": "link",
        "links": [
            "1bb50ae54662e6ff"
        ],
        "x": 1625,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4b44abe7284d3925",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "dbb0818b6ec8428d"
            ]
        ]
    },
    {
        "id": "3b0fb10da4893963",
        "type": "mqtt out",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data_live",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "dbb0818b6ec8428d",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('gateway_data');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "3b0fb10da4893963",
                "129a57a1dde77825"
            ]
        ]
    },
    {
        "id": "129a57a1dde77825",
        "type": "debug",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "debug 119",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "10fe9b1f0057fb10",
        "type": "mqtt out",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data/online/save",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce80aa21413d62c3",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('gateway_data');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "10fe9b1f0057fb10"
            ]
        ]
    },
    {
        "id": "d825a23051422fb4",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "ce80aa21413d62c3"
            ]
        ]
    },
    {
        "id": "1d325151593e5d32",
        "type": "link out",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "data_stream",
        "mode": "link",
        "links": [
            "80cc8c7dae71c897",
            "c92224eb190a3a85"
        ],
        "x": 515,
        "y": 340,
        "wires": []
    },
    {
        "id": "2106c9058afc494e",
        "type": "inject",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "ab7d8e0de922c171"
            ]
        ]
    },
    {
        "id": "ab7d8e0de922c171",
        "type": "function",
        "z": "d91ac3d282c069d0",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('gateway_data');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "1d325151593e5d32"
            ]
        ]
    },
    {
        "id": "d660d717a9bffefc",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 115",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "0689bf4cebcb2584",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 /root/axotec_ifm_jd2120/read_angles.py ",
        "addpay": "topic",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "d660d717a9bffefc",
                "d844aa306103f7d3"
            ],
            [
                "41d80ec30a343e55"
            ],
            [
                "ce4cc085bd5c743e",
                "28e90a4a7217f715"
            ]
        ]
    },
    {
        "id": "54acc20a85490c0c",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "41d80ec30a343e55",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 116",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "d844aa306103f7d3",
        "type": "json",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "5a7b6dc98516b2a2",
                "f82a72b03fd99e77"
            ]
        ]
    },
    {
        "id": "5a7b6dc98516b2a2",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "function 98",
        "func": "var data_json = global.get('data_json');\n\nmsg.payload = msg.payload.x_angle;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 80,
        "wires": [
            [
                "19b8c49a17b554c8",
                "322d1f7915548dd2",
                "1129e3c584cabbcd"
            ]
        ]
    },
    {
        "id": "f82a72b03fd99e77",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "function 99",
        "func": "var data_json = global.get('data_json');\n\nmsg.payload = msg.payload.y_angle;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "dd8a02d6dfa5f254",
                "db3bbbf7deb2db60"
            ]
        ]
    },
    {
        "id": "19b8c49a17b554c8",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 118",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1510,
        "y": 20,
        "wires": []
    },
    {
        "id": "322d1f7915548dd2",
        "type": "change",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.jd2120.x_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1129e3c584cabbcd",
        "type": "link out",
        "z": "a1b1f2bdd5b2d11d",
        "name": "estado",
        "mode": "link",
        "links": [
            "30f742b511983f11"
        ],
        "x": 1465,
        "y": 160,
        "wires": []
    },
    {
        "id": "28e90a4a7217f715",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "ce4cc085bd5c743e",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "dd8a02d6dfa5f254",
        "type": "change",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.jd2120.y_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db3bbbf7deb2db60",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 118",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1530,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc41d85a6706e654",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 /root/axotec_ifm_jd2120/calibrate.py ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 440,
        "wires": [
            [
                "37f42c443aaccf3d"
            ],
            [],
            []
        ]
    },
    {
        "id": "37f42c443aaccf3d",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "8900e75366645a32",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "kill process",
        "func": "msg.kill = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "bf6d686f26f6a1d4",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "bc41d85a6706e654"
            ]
        ]
    },
    {
        "id": "ad41703a36d5715c",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "7b444030352fd1f6"
            ]
        ]
    },
    {
        "id": "7b444030352fd1f6",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 /root/axotec_ifm_jd2120/restore_parameters.py ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "53dd8b39e848a554"
            ],
            [],
            []
        ]
    },
    {
        "id": "53dd8b39e848a554",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "bfca2389abdeb114",
        "type": "mqtt in",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "topic": "actions",
        "qos": "2",
        "datatype": "auto",
        "broker": "8d53d2f17df7fbc4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "1ac48825a2a4568d",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.jd2120.calibrate",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "8900e75366645a32",
                "bf6d686f26f6a1d4"
            ],
            []
        ]
    },
    {
        "id": "23dc4ce750a7ce51",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.jd2120.restore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "ad41703a36d5715c",
                "8900e75366645a32"
            ],
            []
        ]
    },
    {
        "id": "5c3a0bd0b8d61c96",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.gateway_key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "gateway_data.gateway_key",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "1ac48825a2a4568d",
                "23dc4ce750a7ce51"
            ]
        ]
    },
    {
        "id": "b1398bfdc1511abc",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "Restore",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gateway_key\":\"AXOITE\",\"jd2120\":{\"calibrate\":0,\"restore\":1}}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "dadd451968ea653d",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "Calibrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gateway_key\":\"AXOITE\",\"jd2120\":{\"calibrate\":1,\"restore\":0}}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "2d7923c474abe8c7",
        "type": "serial in",
        "z": "87fe75fba6b00d60",
        "name": "",
        "serial": "eadfda525a15b034",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "a2009d0ab2ccef3a",
                "be4fa11e3767c765"
            ]
        ]
    },
    {
        "id": "e2e8f2bc2a0fa59e",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "debug 110",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "2e2a96912f9d7f28",
        "type": "switch",
        "z": "87fe75fba6b00d60",
        "name": "VTG (velocidad km/h)",
        "property": "payload.sentence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "VTG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "e3cb23e9838998a9"
            ]
        ]
    },
    {
        "id": "9f8c640d28c2dbbc",
        "type": "switch",
        "z": "87fe75fba6b00d60",
        "name": "GCA (lat, lon, alt)",
        "property": "payload.sentence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GGA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 520,
        "wires": [
            [
                "71ce98d18eaba14a",
                "d9359ec226f5a587",
                "773046d3e8439af1",
                "e79dd601cc9c793f",
                "28a64d7c7b708ed3"
            ]
        ]
    },
    {
        "id": "71ce98d18eaba14a",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "function 92",
        "func": "msg.payload = { \"name\": \"Vehículo\", \"lat\": msg.payload.lat, \"lon\": msg.payload.lon }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e3cb23e9838998a9",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "function 93",
        "func": "msg.payload = msg.payload.speedKmph\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "f2457d116b282df6",
                "b5dfe0c350e6a7ab",
                "0534cbc24653f9c7"
            ]
        ]
    },
    {
        "id": "f2457d116b282df6",
        "type": "ui_gauge",
        "z": "87fe75fba6b00d60",
        "name": "",
        "group": "62e6ab43ca64c949",
        "order": 9,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Velocidad",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "62e2e4bb0648be2b",
        "type": "comment",
        "z": "87fe75fba6b00d60",
        "name": "Getting GPS data",
        "info": "",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "773046d3e8439af1",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "longitud",
        "func": "msg.payload = msg.payload.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "cdb92e3372f95d3d",
                "e476710c2d6f2857"
            ]
        ]
    },
    {
        "id": "d9359ec226f5a587",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "latitud",
        "func": "msg.payload = msg.payload.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "1a422330e071023e",
                "170b8b8963c41720"
            ]
        ]
    },
    {
        "id": "e79dd601cc9c793f",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "altitud",
        "func": "msg.payload = msg.payload.alt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "0a51973433ed0faf"
            ]
        ]
    },
    {
        "id": "ca14bd801a031291",
        "type": "inject",
        "z": "87fe75fba6b00d60",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "3ebb85ecf3126f56"
            ]
        ]
    },
    {
        "id": "3ebb85ecf3126f56",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "Global",
        "func": "\nvar data_json = { \"general_flag\": 0 };\n\nglobal.set('data_json', data_json);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b5dfe0c350e6a7ab",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "debug 111",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "7d7cb1a0abb407a4",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "debug 112",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "205bdcd253d53399",
        "type": "comment",
        "z": "87fe75fba6b00d60",
        "name": "SENDING TO CLOUD",
        "info": "",
        "x": 1320,
        "y": 40,
        "wires": []
    },
    {
        "id": "a2009d0ab2ccef3a",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "debug 121",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "be4fa11e3767c765",
        "type": "nmea",
        "z": "87fe75fba6b00d60",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "2e2a96912f9d7f28",
                "9f8c640d28c2dbbc",
                "e2e8f2bc2a0fa59e"
            ]
        ]
    },
    {
        "id": "170b8b8963c41720",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gps.latitude",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e476710c2d6f2857",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gps.longitude",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0a51973433ed0faf",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gps.altitude",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1a422330e071023e",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "0534cbc24653f9c7",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gps.speed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "28a64d7c7b708ed3",
        "type": "function",
        "z": "87fe75fba6b00d60",
        "name": "numero de satelites",
        "func": "msg.payload = msg.payload.numSat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "7d7cb1a0abb407a4",
                "b253103a13d4e225",
                "b32165e61e3af597"
            ]
        ]
    },
    {
        "id": "b253103a13d4e225",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gps.num_sat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b32165e61e3af597",
        "type": "change",
        "z": "87fe75fba6b00d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.num_gps_sat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cdb92e3372f95d3d",
        "type": "debug",
        "z": "87fe75fba6b00d60",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "0fa85570732327d9",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "mount /dev/sda1 /media/USB/",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "611c4768cd164731"
            ]
        ]
    },
    {
        "id": "908fa73116dffd7a",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "umount /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 840,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "eb67adf7cd48d352",
                "484501af6a01d73c"
            ]
        ]
    },
    {
        "id": "f0909c5883cf2bb5",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "0fa85570732327d9"
            ]
        ]
    },
    {
        "id": "611c4768cd164731",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "24491a42e5626d87",
                "e6846b59f12b9bf7"
            ]
        ]
    },
    {
        "id": "79c85eb3c32b4cec",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "908fa73116dffd7a"
            ]
        ]
    },
    {
        "id": "6cae6ebd51676aa2",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 1 > /dev/usrled3; echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5913ac761e735950",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 1 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1290,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "95b9733afe4cfa28"
            ]
        ]
    },
    {
        "id": "411b82cd9be62670",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 0 > /dev/usrled2; umount /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 500,
        "wires": [
            [],
            [],
            [
                "36c50bea4f163c33"
            ]
        ]
    },
    {
        "id": "e6846b59f12b9bf7",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "/root/axotec_scripts/blink_red_led.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1230,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "3d2593e8c53546bc"
            ]
        ]
    },
    {
        "id": "3d2593e8c53546bc",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 1 > /dev/usrled3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1200,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8280a977f37e7427",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3b41906495a76b75",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7c8765ccbcef1d36",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "3b41906495a76b75",
                "8280a977f37e7427"
            ]
        ]
    },
    {
        "id": "eb67adf7cd48d352",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "24491a42e5626d87",
        "type": "link out",
        "z": "93c938d261dc36e3",
        "name": "descarga_usb",
        "mode": "link",
        "links": [
            "453da7bdd0eca604",
            "08ef0af123c7225b"
        ],
        "x": 565,
        "y": 300,
        "wires": []
    },
    {
        "id": "1bb50ae54662e6ff",
        "type": "link in",
        "z": "93c938d261dc36e3",
        "name": "descarga_done",
        "links": [
            "f89cd51984aeef3d",
            "fa52f9efaa73c12b"
        ],
        "x": 765,
        "y": 300,
        "wires": [
            [
                "09f0e4f9549d2ba9"
            ]
        ]
    },
    {
        "id": "09f0e4f9549d2ba9",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "mv /root/ITEMAQ/ANGULAMIENTO/data_angulamiento.csv /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1080,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "79c85eb3c32b4cec"
            ]
        ]
    },
    {
        "id": "bb293532cfb39e99",
        "type": "comment",
        "z": "93c938d261dc36e3",
        "name": "saving csv",
        "info": "",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "36c50bea4f163c33",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "484501af6a01d73c",
        "type": "function",
        "z": "93c938d261dc36e3",
        "name": "",
        "func": "if (msg.payload.code == 0){\n    node.status({ fill: \"green\", shape: \"dot\", text: \"usb connected\" });\n    return [null, msg];\n    \n}\nelse{\n    node.status({ fill: \"red\", shape: \"ring\", text: \"usb disconnected\" });\n    return [msg, null];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "af2952fef3c4bb96"
            ],
            [
                "5913ac761e735950"
            ]
        ]
    },
    {
        "id": "af2952fef3c4bb96",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1290,
        "y": 420,
        "wires": [
            [],
            [],
            [
                "cd3920d3e89b9edd"
            ]
        ]
    },
    {
        "id": "68ad270c7e3aa592",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "908fa73116dffd7a"
            ]
        ]
    },
    {
        "id": "cd3920d3e89b9edd",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 460,
        "wires": []
    },
    {
        "id": "95b9733afe4cfa28",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 540,
        "wires": []
    },
    {
        "id": "b896e77a5281950e",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "82cc57f035f4b635",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "f0909c5883cf2bb5"
            ]
        ]
    },
    {
        "id": "c8180879340f9797",
        "type": "usb-watch",
        "z": "93c938d261dc36e3",
        "name": "",
        "initialScan": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "f0909c5883cf2bb5",
                "6cae6ebd51676aa2",
                "b896e77a5281950e"
            ],
            [
                "411b82cd9be62670"
            ]
        ]
    },
    {
        "id": "15420cb99e922f52",
        "type": "switch",
        "z": "d4fbb3fe0699c65f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "2d311656c300bea0"
            ],
            [
                "2d17b98fea916abe"
            ]
        ]
    },
    {
        "id": "2d311656c300bea0",
        "type": "change",
        "z": "d4fbb3fe0699c65f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.sensor_estado.state",
                "pt": "global",
                "to": "positivo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "30f742b511983f11",
        "type": "link in",
        "z": "d4fbb3fe0699c65f",
        "name": "",
        "links": [
            "2904e9f4358d78ae",
            "1129e3c584cabbcd"
        ],
        "x": 165,
        "y": 180,
        "wires": [
            [
                "15420cb99e922f52"
            ]
        ]
    },
    {
        "id": "2d17b98fea916abe",
        "type": "change",
        "z": "d4fbb3fe0699c65f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.sensor_estado.state",
                "pt": "global",
                "to": "negativo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "36974351050e81e2",
        "type": "ping",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "161.132.39.167",
        "timer": "5",
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "969b2948e1ba5ece"
            ]
        ]
    },
    {
        "id": "dbaf8b3efeaabf37",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.acme_server",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "30361390301119e6",
                "48fe66a37a5d4455"
            ]
        ]
    },
    {
        "id": "969b2948e1ba5ece",
        "type": "switch",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "dbaf8b3efeaabf37"
            ],
            [
                "ee185204f3df637f"
            ]
        ]
    },
    {
        "id": "ee185204f3df637f",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections_acme_server",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "369a679a146cb309",
                "47371280d37afc93"
            ]
        ]
    },
    {
        "id": "30361390301119e6",
        "type": "debug",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "Latencia servidor Acme",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "369a679a146cb309",
        "type": "debug",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "Not connected",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "24694e9174f9ea7c",
        "type": "ping",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "192.168.192.79",
        "timer": "5",
        "inputs": 0,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "a25ce97d8a1e53e6"
            ]
        ]
    },
    {
        "id": "f884311d2c1d9673",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.vpn_server",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "594f458e05d10cbd"
            ]
        ]
    },
    {
        "id": "a25ce97d8a1e53e6",
        "type": "switch",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "f884311d2c1d9673"
            ],
            [
                "b64c3a8d66676f32"
            ]
        ]
    },
    {
        "id": "b64c3a8d66676f32",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.vpn_server",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "0108dea861a38364"
            ]
        ]
    },
    {
        "id": "594f458e05d10cbd",
        "type": "debug",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "Latencia servidor VPN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "0108dea861a38364",
        "type": "debug",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "Not connected",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6957c60f691242c",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections",
                "pt": "global",
                "to": "{\"acme_server\":false,\"vpn_server\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e659df00a59847c2",
        "type": "inject",
        "z": "ac1b7f858f654d07",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "f6957c60f691242c"
            ]
        ]
    },
    {
        "id": "227c7884566505e1",
        "type": "comment",
        "z": "ac1b7f858f654d07",
        "g": "b7f9bad1da3f666b",
        "name": "falta corregir la IP maestra del VPN",
        "info": "",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "48fe66a37a5d4455",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_acme",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "47371280d37afc93",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "g": "39ddbe85a72ee0b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_acme",
                "pt": "global",
                "to": "not connected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c9cde978afbb363d",
        "type": "inject",
        "z": "ac1b7f858f654d07",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "881fd3c483db04a9",
                "5611ce40d44b863a",
                "cc44bd7818012c3e",
                "859dde0a440deb3d",
                "da42eb0b5eb1cf98",
                "bf0eb595da64b68b",
                "daca6e4fef23766a"
            ]
        ]
    },
    {
        "id": "881fd3c483db04a9",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(hostname -I | awk '{print $1}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "80755401e99146fb"
            ],
            [],
            []
        ]
    },
    {
        "id": "80755401e99146fb",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.eth_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5611ce40d44b863a",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$2}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "8931face9461a432"
            ],
            [],
            []
        ]
    },
    {
        "id": "cc44bd7818012c3e",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$3}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 780,
        "wires": [
            [
                "6e6ed535dc218ae7"
            ],
            [],
            []
        ]
    },
    {
        "id": "859dde0a440deb3d",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$4}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "9c3013b28a9565d1"
            ],
            [],
            []
        ]
    },
    {
        "id": "8931face9461a432",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.total_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6e6ed535dc218ae7",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.used_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3013b28a9565d1",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.free_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "da42eb0b5eb1cf98",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$5}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 900,
        "wires": [
            [
                "078126b863f90a30"
            ],
            [],
            []
        ]
    },
    {
        "id": "078126b863f90a30",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.used_space_percent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "bf0eb595da64b68b",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(free | grep Mem: | awk '{print$3/$2*100}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 1020,
        "wires": [
            [
                "f42d877d0d4b7a77"
            ],
            [],
            []
        ]
    },
    {
        "id": "f42d877d0d4b7a77",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.memory_usage_percent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "daca6e4fef23766a",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "command": "echo -n $(vcgencmd measure_temp)",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 1100,
        "wires": [
            [
                "a62d96489e8eb651"
            ],
            [],
            []
        ]
    },
    {
        "id": "6e5bce5ba042c84c",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "a62d96489e8eb651",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload,5,4)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1100,
        "wires": [
            [
                "6e5bce5ba042c84c"
            ]
        ]
    },
    {
        "id": "93581f2a0b502758",
        "type": "exec",
        "z": "ac1b7f858f654d07",
        "d": true,
        "command": "speedtest-cli --simple --secure",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "f1de9b1aed5f2e0e"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1de9b1aed5f2e0e",
        "type": "split",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 690,
        "y": 1200,
        "wires": [
            [
                "6c7fb87e581a434e",
                "0581f6cf6f24eaef"
            ]
        ]
    },
    {
        "id": "6c7fb87e581a434e",
        "type": "debug",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1280,
        "wires": []
    },
    {
        "id": "0581f6cf6f24eaef",
        "type": "switch",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 1200,
        "wires": [
            [
                "8f37898dbbb551a5"
            ],
            [
                "0465430fc5acd53e"
            ],
            [
                "a63b7998cf19828d"
            ]
        ]
    },
    {
        "id": "8f37898dbbb551a5",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_internet",
                "pt": "global",
                "to": "$substring(payload, 6, 9)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "0465430fc5acd53e",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.download",
                "pt": "global",
                "to": "$substring(payload, 10, 12)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "a63b7998cf19828d",
        "type": "change",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.upload",
                "pt": "global",
                "to": "$substring(payload, 10, 12)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b894d27ce548b6b6",
        "type": "inject",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "93581f2a0b502758"
            ]
        ]
    },
    {
        "id": "a866e060f2779308",
        "type": "comment",
        "z": "ac1b7f858f654d07",
        "d": true,
        "name": "Not recommended, affects server connection",
        "info": "",
        "x": 430,
        "y": 1260,
        "wires": []
    }
]